/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h3 {
  font-size: 16px;
}
/* entire container, keeps perspective */
.flip-container {
  display: inline-block;
  margin-right: 50px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-container,
.front,
.back {
  width: 250px;
  height: 400px;
}
.content-wrapper {
  display: flex;
  flex: 1 1 auto;
  width: 50%;
}
.front,
.back {
  background: transparent;
  box-shadow: 0px 0px 1px 1px #d68034;
  text-align: center;
}

.flip-image {
  margin-top: 70px;
}
.back {
  background: transparent;
  color: #fff;
  padding: 10px 15px;
}

span .h3,
.back h3 {
  text-transform: uppercase;
}

.front h3 {
  font-weight: normal;
  margin-top: 50px;
  font-size: 22px;
}

.front h3:after {
  content: "";
  height: 2px;
  width: 40px;
  display: block;
  background: #d68034;
  margin: 15px auto;
}

.block-content {
  padding: 15px 20px 20px 20px;
  color: #d68034;
}

.front h2 {
  font-size: 22px;
  font-weight: normal;
  line-height: 28px;
}

.tag {
  color: #000;
  background: #f2f2f2;
  display: inline-block;
  font-size: 12px;
  padding: 8px 12px;
  border-radius: 15px;
}

.back p {
  margin: 40px 0;
  line-height: 20px;
}

.back .button {
  background: transparent;
  border: solid 2px #fff;
  color: #fff;
  text-decoration: none;
  height: 15%;
  width: 70%;
  padding: 15px 40px;
  display: block;
  font-size: 18px;
  margin: 180px 34px;
  transition: all 200ms ease-in-out;
}

.back .button:hover,
.back .button:focus {
  background: #d68034;
  border: solid 2px #d68034;
}

/* flip speed goes here */
.flipper {
  transition: 0.4s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;

  position: absolute;
  top: 70px;
  left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(-180deg);
}

/*  UPDATED! flip the pane when hovered */
.flip-container:hover .back {
  transform: rotateY(0deg);
}
.flip-container:hover .front {
  transform: rotateY(180deg);
}
