
/* Page Wrapper */
.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020;
  margin-bottom: 0;
  padding: 0;
  transition: box-shadow 0.2s linear;
}
/* Wrapper */
/* .wrapper {
  top: 30%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border-radius: 10px;
  position: absolute;

  width: 100%;
} */

.wrapper {
  position: absolute;
  top: 2%;
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
  width: 100%;
}
/* Content */
.content {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 992px) {
  .content {
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.9rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}
@media (min-width: 1200px) {
  .content {
    padding-top: 2.5rem;
    padding-bottom: 0.625rem;
  }
}

/*===== HEADER =====*/

/* Navbar */
.navbar {
  color: transparent;
  margin-bottom: 0;
  border: none;
  min-height: 40px;
  border-radius: 0;
  padding: 40px;
  border-bottom: 1px solid #d68034;
  transition: margin-left 0.3s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .navbar {
    transition: none;
  }
}
@media (min-width: 992px) {
  .navbar {
    padding-right: 1rem;
  }
}
.navbar .page-title {
  max-width: 4000px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
  color: #d68034;
  font-size: 1.125rem;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .navbar .page-title {
    font-size: 3.625rem;
    font-weight: bold;
    max-width: 150px;
    font-family:fantasy;

  }
}
@media (min-width: 1200px) {
  .navbar .page-title {
    max-width: unset;
  }
}










/* Nav settings */
.nav-settings {
  flex-direction: column;
}
.nav-settings .nav-link {
  color: #8a909d;
  padding-left: 0;
}
.nav-settings .nav-link i {
  font-size: 1rem;
}
.nav-settings .nav-link.active {
  color: #8243d7;
}
.nav-settings .nav-link:hover {
  color: #8243d7;
}


.left-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  transform: translateX(-250px);
  background-color: transparent;
  top: 0;
  bottom: 0;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .left-sidebar {
    transform: translateX(0);
    width: 350px;
    position: relative;
    z-index: 1;
  }
}
.left-sidebar::before {
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  content: "";
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  z-index: 1050;
  min-height: 100vh;
  position: relative;
}
.sidebar .sidebar-inner {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-top: 1rem;
}
.sidebar .sidebar-inner > li {
  position: relative;
}
.sidebar .sidebar-inner > li > a {
  padding: 1rem 1.5rem;
  line-height: 20px;
  color: #bfc7d9;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .sidebar-inner > li.active > a {
  position: relative;
  z-index: 10;
  color: #ffffff;
  background-color: rgba(158, 109, 224, 0.4);
}
.sidebar .sidebar-inner .section-title {
  padding: 1.25rem 1.56rem 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: rgba(191, 199, 217, 0.7);
  letter-spacing: 1.2px;
  white-space: nowrap;
}
.sidebar .sidebar-inner .sub-menu .section-title {
  padding: 1.25rem 0.94rem 0.625rem;
}

/* App brand */
.app-brand {
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(229, 233, 242, 0.25);
}
.app-brand a {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 76px;
  line-height: 76px;
  width: 250px;
  transition: width 0.3s ease-in-out;
  padding-left: 1.56rem;
}
@media (prefers-reduced-motion: reduce) {
  .app-brand a {
    transition: none;
  }
}
@media (min-width: 768px) {
  .app-brand a {
    overflow: hidden;
  }
}
.app-brand a img {
  max-width: 128px;
  vertical-align: middle;
}
.app-brand .brand-name {
  color: #ffffff;
  font-size: 1.25rem;
  margin-left: 0.31rem;
}

/*  Nav menus Icon Styles */
.sidebar .nav > li > a i {
  float: left;
  margin-right: 0.94rem;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 1.5rem;
}

